.grid-header-container {
  border-bottom: 1px solid #d5d5d5;
  
  .info-header {

  }

  .days-of-week {
    display: flex;

    .day-of-week {
      flex: 1 0 14%;
      box-sizing: border-box;
      text-align: center;
      padding: 5px;
      background: #f2f2f2;
    }
  }

}