.day {  
  flex: 1 0 14%;
  border-right: 1px solid #d5d5d5;
  box-sizing: border-box;
  min-height: 130px;
  cursor: pointer;

  .header {
    padding: 10px;

    .day-number {
      height: 28px;
      width: 28px;
      background: white;
      border-radius: 50%;
      position: relative;
      border: 1px solid #d5d5d5;

      .number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 0;
      }
    }
  }

  &.selected {
    .day-number {
      background: grey !important;
      border-color: grey !important;
      color: #f2f2f2;
    }
  }

  &:last-child {
    border-right: none;
  }

  &:hover {
    .day-number {
      background: #f2f2f2;
    }
  }
}