.event-listing-container {
    padding: 20px 12px;
    border-top: 1px solid #c1c1c1;

    .hour-chart {
        margin: 30px 0;

        .hour-indicator {
            border-top: 1px solid #c1c1c1;
        }
    }

    .event {
        margin-bottom: 25px;
        font-size: 14px;
        border-left: 3px solid #007bff;
        padding: 8px;

        &.expired {
            border-left-color: #808080;
        }

        .time {
            font-size: 14px;
        }

        .title {
            font-weight: bold;
            font-size: 16px;
        }

        .desciption {
            margin-top: 10px;
        }
    }
}