.event-listing-container {
    padding: 15px;

    .hour-chart {
        margin: 30px 0;

        .hour-indicator {
            border-top: 1px solid #c1c1c1;
        }
    }

    .event {
        margin-bottom: 15px;
        font-size: 14px;
        padding-left: 5px;
        border-left: 3px solid #007bff;

        &.expired {
            border-left-color: #808080;
        }

        .header {
            .time {
                font-size: 13px;
                font-weight: bold;
            }

            .title {
                font-weight: bold;
            }
        }
    }
}